<div class="center hero-unit">
  <h1>Bem vindo a página de controle de seus pacientes</h1>
  <h2>
    Essa página esta em desenvolvimento
  </h2>

  <%= link_to "Entre", pacients_path, class: "btn btn-large btn-primary" %>
</div>

