<h1>Operadoras de Convênios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>     
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @insurances.each do |insurance| %>
      <tr>
        <td><%= insurance.name %></td>
        <td><%= link_to 'Edit', edit_insurance_path(insurance) , :class => "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', insurance, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurance', new_insurance_path %>
