<div class="well form-inline">
   <%= f.hidden_field :_destroy %>
   <%= f.collection_select(:insurance_id, Insurance.all, :id, :name,{:prompt   => "Selecione um plano de saude"}, {:class => 'input-xlarge'}) %>
   <%= link_to_function "remover", "remove_fields(this)", :class => "btn" %>
</div>
